$('#error').remove();
<% if @comment.errors.any? %>
<% @comment.errors.full_messages.each do |message| %>
$('.errors').append('<div id="error"><%= j message %></div>');
<% end %>
<% else %>
$('.comments').append('<%= j render @comment %>');
$('#comment_body').val("");
<% end %>