<h1> Hello subscriber!</h1>


<p> You have subscribed to receive new answers to the question:</p>
  <p><b><%= @question.title %></b> </p>
  <p><%= @question.body %> </p>
<p><b> New answer:</b></p>
<p> <%= @answer.body  %></p>