<h3>Daily digest of questions</h3>
<p>New questions for last day:
  <%= @questions.count %>
  <p>
  <% @questions.find_each do |question| %>
    <%= link_to question.title, question.body, question_url(question) %>
    <% end  %>
  </p>
</p>
